{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="d-flex flex-grow-1 flex-column justify-content-center">
        {{ form_start(form, {'attr': {'class': 'd-flex flex-grow-1 flex-row justify-content-evenly m-2'}}) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.type) }}
        {{ form_end(form) }}
        {{ dump(vehicles) }}
    </div>
{% endblock %}