{% extends 'base.html.twig' %}

{% block title %}Modifier un véhicule{% endblock %}

{% block body %}
    <div class="d-flex flex-grow-1 flex-column m-4">
        <div class="d-flex flex-column flex-grow-1 justify-content-center p-4 text-black">
            <h1 class="align-self-center">Modifier un véhicule</h1>
            <h2 class="align-self-center fs-4">Modifiez les informations du véhicule</h2>
        </div>
        {{ form_start(form) }}
        {{ form_row(form.passengers) }}
        {{ form_row(form.dailyRent) }}
        {{ form_row(form.odometer) }}
        {{ form_row(form.licensePlate) }}
        {{ form_row(form.productionYear) }}
        {{ form_row(form.picture) }}
        {{ form_row(form.type) }}
        {{ form_row(form.options) }}
        {{ form_row(form.model) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}