{% extends 'base.html.twig' %}

{% block title %}{{ vehicle.model.brand.name }} {{ vehicle.model.name }}{% endblock %}

{% block body %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between m-4 p-4">
            <div class="d-flex flex-column m-2">
                <ul class="list-group">
                    <li class="list-group-item">Marque : {{ vehicle.model.brand.name }}</li>
                    <li class="list-group-item">Modèle : {{ vehicle.model.name }}</li>
                    <li class="list-group-item">Type de véhicule : {{ vehicle.type }}</li>
                    <li class="list-group-item">Année de production : {{ vehicle.productionYear }}</li>
                    <li class="list-group-item">Kilométrage : {{ vehicle.odometer }}km</li>
                    <li class="list-group-item">Nombre de places : {{ vehicle.passengers }}</li>
                    <li class="list-group-item">Plaque d'immatriculation : {{ vehicle.licensePlate }}</li>
                    <li class="list-group-item">Prix de location par jour : {{ vehicle.dailyRent }}€</li>
                    <li class="list-group-item">Disponible actuellement : {{ isAvailable ? 'Oui' : 'Non' }}</li>
                </ul>
            </div>
            <div class="d-flex flex-column m-2">
                <img src="{{ vehicle.picture }}" style="height: 38vh; width: 30vw;" alt="{{ vehicle.model.brand.name }} {{ vehicle.model.name }}">
            </div>
        </div>
        <div class="d-flex flex-row flex-grow-1 justify-content-evenly">
            <a href="{{ path('home') }}" class="btn btn-primary col-1">Retour</a>
            {% if app.user %}
                <a href="" class="btn btn-success col-1">Louer</a>
            {% else %}
                <a href="{{ path('login') }}" class="btn btn-danger col-1">Louer</a>
            {% endif %}
        </div>
    </div>
{% endblock %}