{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reservation') }}
{% endblock %}

{% block body %}
    <div class="d-flex flex-grow-1 flex-column justify-content-center m-4">
        <h1 class="text-center">Réservation de la {{ vehicle.model.brand.name }} {{ vehicle.model.name }}</h1>
        {{ form_start(form, {'attr': {'class': 'd-flex flex-grow-1 flex-row justify-content-evenly m-2'}}) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
        <div class="d-flex flex-row justify-content-evenly m-4">
            <span>Prix total de la réservation : <span id="priceDisplay">En attente du serveur</span>€ ({{ vehicle.dailyRent }}/€/jour)</span>
            <span>Disponibilité : <span id="availability">En attente du serveur</span></span>
        </div>
        <a href="{{ path('home') }}" class="align-self-center btn btn-primary col-1">Retour</a>
    </div>
    <div id="info" data-daily-rent="{{ vehicle.dailyRent }}" data-vehicle-id="{{ vehicle.id }}"></div>
{% endblock %}